@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: gray;
}

input,textarea{
    color:black;
}
/* tailwind.css or index.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
